<div class="indexBody">
<form action="demo_form.asp">
  <div id="searchBoxForm">
  <input id="searchBar" type="text" placeholder="Search for movie">
  <input id="searchButton" type="submit" value="Search">
  </div>
</form>
</div>
