<div class="indexBody">
<form class="get_movies" action="/movie" accept-charset="UTF-8" method="GET">
  <div id="searchBoxForm">
  <input id="searchBar" type="text" name="keyword" placeholder="Search for movie">
  <input id="searchButton" type="submit" value="Search">
  </div>
</form>
</div>

<!-- <form class="get_tweets" id="get_tweets" action="/tweets/all" accept-charset="UTF-8" method="GET">
          <input class='keyword' placeholder="Enter keyword" type="text" name="keyword" id="tweet_keyword"><br><br> -->
          <!-- <label for="happy">Happy</label>
          <input type="radio" name="filter" value="Happy" id="happy">
          <label for="sad">Sad</label>
          <input type="radio" name="filter" value="sad" id="sad"> -->
          <!-- <input class='button two' type="submit" name="commit" value="Get Tweets">
    </form> -->
