body {
  margin: auto 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh;
}
.indexBody{
  width: 100%;
  height: 100%;
  background: url('http://img.lum.dolimg.com/v1/images/open-uri20150608-27674-tmzm40_c7fa1a64.jpeg?region=0%2C0%2C1580%2C880') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}
#searchBoxForm{
  height: 40px;

}
#searchBar{
  height: inherit;
  width: 300px;
}
#searchButton{
  height: inherit;
  width: 100px;
}

a {
  color: #00B7FF;
}
